.quote-box{
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 1em #888;
}
.quote{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.author{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    float: right;
    font-size: 22px;
}